.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 600px) {
    .header {
        min-height: 56px;
    }
}