.error-page {
    margin: 0;
    width: 100%;
    height: 600px;
    background-image: url(https://freefrontend.com/assets/img/html-css-404-page-templates/Sad-Mac-404-Error-Page.png);
    background-repeat: no-repeat;
    background-position: center;
  }